.trending-card{
    width: 27vw;
    height: max-content;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

.trending-card .trending-coins-list{
    display: flex;
    /* background-color: pink; */
    align-items: center;
    justify-content: space-between;
}

.trending-coins-list .left-grp-trending{
    display: flex;
    gap: 8px;
}

.trending-coins-list .left-grp-trending img{
    border-radius: 50%;
    height: 25px;
    width: 25px;
}
.priceChange-indicator{
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 28px;
    width: 100px;
    border-radius: 3px;
    
}

.positive-priceChange{
    background-color: #ebf9f4;
    color: #14b079;
}
.negative-priceChange{
    background-color: #f0e3e2;
    color: #e96975;
}